[Unit]
Description=Openfpgaduino restapi server

[Service]
User=openfpgaduino
WorkingDirectory=/home/openfpgaduino/Arduinojs/
ExecStart=/bin/node /home/openfpgaduino/Arduinojs/server.js > /home/openfpgaduino/Arduinojs/log 
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
