[Unit]
Description=Openfpgaduino C IDE

[Service]
User=openfpgaduino
WorkingDirectory=/home/openfpgaduino/ArduinoIDE/
ExecStart=/bin/node /home/openfpgaduino/ArduinoIDE/server.js > /home/openfpgaduino/ArduinoIDE/log 
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
